<%= form_for(@link, :html=>{:class=> "form-inline search"}) do |f| %>
  <div class="input-group">
    <% if @link.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:
        <% @link.errors.full_messages.each do |message| %>
          <%= message %></p>
        <% end %>
      </div>
    </div>
    <% end %>

    <div class="field">
      <div class="input-group"> 
        <%= f.text_field :full_url, placeholder: "Paste your link here", class: 'form-control', size: "50" %>
        <div class="input-group-btn">
          <%= f.submit "Shrink", class: "btn btn-success" %>
        </div>
      </div>
    </div>
<% end %>
</div>

 <% if notice %>
    <div id="notice_wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
      <div id="notice_wrapper">
        <p class="alert"><%= alert %></p>    
      </div>
  <% end %>

<% shortened_url = "https://mini-u.herokuapp.com/#{@link.short_url}" %>


<script>
  $(document).ready(function() {
      setTimeout(function() {
          $('#notice_wrapper').fadeOut("slow", function() {
              $(this).remove();
          });
      }, 4500);
  });
</script>